<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <% if task.priority == 1 %>
      Low
    <% elsif task.priority == 2 %>
      Medium
    <% else %>
      High
    <% end %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= form_with model: task, local: true do |form| %>
      <%= form.check_box :completed, checked: task.completed, onchange: 'this.form.submit()' %>
    <% end %>
  </p>
</div>
