<div class="container mt-4">
  <p class="text-success"><%= notice %></p>

  <h1 class="my-4">Task List</h1>
  
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td>
            <% if task.priority == 1 %>
              Low
            <% elsif task.priority == 2 %>
              Medium
            <% else %>
              High
            <% end %>
          </td>
          <td>
            <%= form_with model: task, local: true do |form| %>
              <%= form.check_box :completed, checked: task.completed, onchange: 'this.form.submit()', class: "large-checkbox" %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', task, class: "btn btn-primary btn-sm" %> |
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-secondary btn-sm" %> |
            <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New Task", new_task_path, class: "btn btn-success" %>
</div>
